---
layout: default
title: Homepage
---
<!-- fulltitle: This overrides the default page title, which is "{{page.title}} | {{site.title}}" -->
<!-- excerpt: If this isn't set, it'll pull your {{site.tagline}} for meta description-->
{% if site.trial_mode == true %}
<a href="https://github.com/EmilSayahi/SketchSpace/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
{% endif %}
{% if site.email_enabled == true %}
	<div class="social-link contact-mail">
	            <a href="mailto:{{site.email}}">
                <i class="icon-large icon-inbox"> {{site.email}}</i>
            </a>
	</div>
{% endif %}
{% if site.phone_enabled == true %}
	<div class="social-link contact-phone">
		<a>
	<i class="icon-large icon-phone"> {{site.phone}}</i>
	</a>
	</div>
{% endif %}
<div class="post-list">
    {% for post in paginator.posts %}
    <div class="content">
        <center><h2>
            <a class="post-link"
               href="{{ post.url | prepend: site.baseurl }}">
		    {% if site.post_title_rendered == true %}
                {{ post.title }}
		    {% endif %}
		    {% if site.post_title_rendered == false %}

{% endif %}
            </a>
        </h2>
		</center>
        <div class="post-content">
            {{ post.content }}
        </div>

            <div class="categories">
                {% if post.categories != empty %}
                    <i class="icon-folder-open icon-large"></i>
                    {{post.categories}}
                {%endif%}
            </div>
        <div class="tags">
            {% if post.tags != empty %}
                <i class="icon-tags icon-large"></i>

{% assign uniq_tags = post.tags
                      
                      | join: ","
                      | split: ","
                      | uniq %}
{{ uniq_tags | join: ", " }}

            {%endif%}
        </div>
        <div class="post-meta">
            <div class="post-meta-data">
                <i class="icon-pencil icon-large"></i>
                {{ post.date | date: "%b %-d, %Y" }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div id="pagination">
    <div class="pagenavi">
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="{{ site.baseurl }}/" class="current">
		{% if site.nav_buttons_are_img == false %}
            <i class="icon-chevron-left"></i>
		{% endif %}
				{% if site.nav_buttons_are_img == true %}
            <img src="{{ site.nav_button_path | prepend: site.baseurl }}/nav_left.png"></img>
		{% endif %}
        </a>
        {% else %}
        <a href="{{ site.baseurl }}/page{{paginator.previous_page}}">
            		{% if site.nav_buttons_are_img == false %}
            <i class="icon-chevron-left"></i>
		{% endif %}
				{% if site.nav_buttons_are_img == true %}
            <img src="{{ site.nav_button_path | prepend: site.baseurl }}/nav_left.png"></img>
		{% endif %}
        </a>
        {% endif %}
        {% else %}
        		{% if site.nav_buttons_are_img == false %}
<span> <i class="icon-chevron-left"></i></span>
		{% endif %}
				{% if site.nav_buttons_are_img == true %}
            <img src="{{ site.nav_button_path | prepend: site.baseurl }}/nav_left.png"></img>
		{% endif %}
        {% endif %}
        {% for count in (2..paginator.total_pages) limit:8 %}
        {% if count == paginator.page %}
        <span class="current-page">{{count}}</span>
        {% else %}
        <a href="{{ site.baseurl }}/page{{count}}">{{count}}</a>
        {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
        <a href="{{ site.baseurl }}/page{{paginator.next_page}}">		{% if site.nav_buttons_are_img == false %}
            <i class="icon-chevron-right"></i>
		{% endif %}
				{% if site.nav_buttons_are_img == true %}
            <img src="{{ site.nav_button_path | prepend: site.baseurl }}/nav_right.png"></img>
		{% endif %}</a>
        {% endif %}
{% if paginator.total_pages > 1 %}
<script>
var dir1 = '<a href="{{ site.baseurl }}/page';
	function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}
	var num = getRandomInt(2, {{ paginator.total_pages }});
	var dir2 = num.toString();
	document.write(dir1 + dir2 + '"');
</script>
	<span> <i class="icon-undo"></i> Random comic</span>
</a>
{% endif %}

    </div>
</div>
		{% include footer.html %}
