<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Plain Description -->
	<title>{{ page.title }} | {{ site.title }}</title>
	<meta name="description" content="{{ site.tagline }}">
	<link rel="icon" type="image/png" href="/favicon.png">
	
	<!-- Google+ -->
	<link rel="publisher" href="https://plus.google.com/{{site.googleplus}}"/>
	<meta itemprop="name" content="{{ page.title }} | {{ site.title }}">
	<meta itemprop="description" content="{{ site.tagline }}">
	<meta itemprop="image" content="{{ page.comic }}">
	
	<!-- Facebook -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="{{ page.title }} | {{ site.title }}"/>
	<meta property="og:description" content="{{ site.tagline }}"/>
	<meta property="og:image" content="{{ page.comic }}"/>
	<meta property="og:url" content="{{site.url}}{{page.url}}"/>
	<meta property="og:site_name" content="{{ site.title }} "/>
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ page.title }} | {{ site.title }}">
	<meta name="twitter:description" content="{{ site.tagline }}">
	<meta name="twitter:image" content="{{ page.comic }}">
	<meta name="twitter:url" content="{{site.url}}{{page.url}}">
	
	<!-- CSS & fonts -->
	<link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}"></link>
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"></link>
	<link rel="stylesheet" href="/css/app.css">
	<!-- Put your fonts here -->
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/comili" type="text/css"/> 
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/guillermonkey" type="text/css"/> 
</head>
