.icon-inbox{
	float: left;
}
.icon-phone{
	float: right;
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	padding-right: 40px;
}
.content{
	width: 550px;
	height: 775px;
	padding-right: 0px;
	padding-left: 20px;
	margin-left: 0%;
}
.footer{
	font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 16px;
	margin-left: -5%;
	text-align: center;
}
.bar-box{
	width: 145px;
	padding-right: 0;
	height: 245px;
	margin-left:-45px;
	margin-bottom: 25px;
}
.rss{
	text-align: center;
}