$bar_width: 210px;
$bar_margin_left: 760px;
$page_content_width: 490px;
$page_content_size: 88%;

.main{
    width: $bar_width + $page_content_width;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Site header
 */
.bar-wapper{
    width: auto;
}

.bar {
    margin-top: 30px;
    //margin-left: auto;
    //margin-right: auto;
    width: $bar_width;
    margin-left: $bar_margin_left;
    position: fixed;
}

.page-content{
    width: $page_content_size;
    //margin-right: auto;
    //margin-left: auto;
    margin-right: $bar_width;
    padding: 5px 5px 5px;
}

.bar-box{
    z-index: 888;
    margin-top: 90px;
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.page-container{
    margin-right: 15px;
    margin-bottom: 30px;
}

.content{
    margin-top: 30px;
    margin-right: 0px;
    overflow: hidden;
}

.post-meta{
    padding: 7px 10px;
    padding-left: 93%;
    margin-left: -5%;
    width: 110%;
    background: #f6f6f6;
    border-top: 1px solid #e1e1e1;
    margin-bottom: -15px;
    word-wrap: break-word;
}

.categories{
    padding: 2px 8px;
}

.tags{
    padding: 2px 8px 4px;
}
